# Node / package managers
node_modules/
**/node_modules/
**/package-lock.json
npm-debug.log
yarn-error.log
pnpm-debug.log

# Frontend / backend environment files
.env
.env.*
**/.env
**/.env.*

# Build outputs
/dist/
**/dist/
build/
**/build/
web-build/

# Expo
.expo/
.expo-shared/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Capacitor
android/
ios/
.capacitor/

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# Typescript
*.tsbuildinfo

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Temporary files
*.log
*.tmp
